/* CSS pour centrer les cartes produits, les images, et définir le bouton en bleu */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.container button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: darkblue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container button:hover {
    background-color: blue; /* Reste bleu au survol */
  }
  

/* Styles pour la version mobile */
@media (max-width: 768px) {
    .product-list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .container {
      width: 90%; /* Réduit la taille des cartes à 90% de la largeur de l'écran */
      max-width: 300px;
      margin: 10px auto; /* Centrer les cartes */
    }
  
    .container img {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }